h1 {
    text-align: center;
    text-decoration: underline;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
    height: 50%;
}

tr {
    border: 1px solid black;
}

.m-u-21 {
    background-color: gray;
}

.m-o-21 {
    background-color: black;
    color: white;
}
.f-o-21 {
    background-color: rgb(142, 20, 20);
}

.f-u-21 {
    background-color: rgb(197, 24, 88);
    color: black;
}

li {
    list-style-type: none;
}

.listimage {
    margin: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* styling form */

#container {
    width: 600px;
    margin: 0 auto;
}

form{
    margin-top: 40px;
}

fieldset{
    padding: 40px;
    border: solid 1px #aaa;
    background-color: aqua;

}

input[type="text"] , 
input[type="email"],
textarea {
    padding: 10px;
    margin: 0 0 30px;
    border: solid 1px #454545;
    border-top: none;
    display: block;
    width: 50%;
    font-size: 14px;
    color: #777;
    
}

textarea {
    resize: none;
}

label {
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgb(135, 51, 51);
    display: block;
    width: 50%;
    padding: 2%;
    color: white;
}

input[type="submit"]{
    background: none;
    background-color: rgb(210, 184, 11);
    height: 40px;
    border: solid 1px #777;
    padding: 0 40px;
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: #444;
}

input[type="submit"]:active {
    border-color: #111;
    outline-color: blue;
}

/* footer */

img {
    /* margin: 60px; */
    width: 60px;
    /* height: 60px; */
}