h1 {
    text-align: center;
    text-decoration: underline;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
    height: 50%;
}

tr {
    border: 1px solid black;
}

.m-u-21 {
    background-color: gray;
}

.m-o-21 {
    background-color: black;
    color: white;
}
.f-o-21 {
    background-color: rgb(142, 20, 20);
}

.f-u-21 {
    background-color: rgb(197, 24, 88);
    color: black;
}

li {
    list-style-type: none;
}

.listimage {
    margin: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}